<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="background: <%= backgroundColor %>">
    <h1>This is <%= pageTitle %></h1>
    <p>It's very cool</p>
    <a href="/something.html">Link to something</a>
    <a href="/else.html">Link to else</a>
  </body>
</html>
